.contato {
  background: #000;
}

.contato-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.contato-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccc;
}

.contato-dados li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #ffff;
  margin-bottom: 30px;
}

.direitos {
  font-size: 1.125rem;
  color: #8f8f8f;
  padding: 20px 20px;
}

@media (max-width: 900px) {
  .contato-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .contato-dados {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .contato-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .contato-dados li {
    font-size: 1.25rem;
    color: #ffff;
    text-align: center;
  }
  .telefone li {
    text-decoration: none;
  }
  .contato-texto {
    font-size: 1rem;
  }
  .direitos {
    font-size: 0.5rem;
  }
}
