body {
  margin: 0px;
  font-family: 'Fire Sans' Arial, Helvetica, sans-serif;
  color: #141414 ;
}

h1, h2, h3, h4, p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  }

  .subtitulo {
    font-size: 144px;
    line-height: 1;
    word-break: break-all;
    max-width: 4ch;
  }

  p {
    justify-content: space-between;
  }

  @media (max-width: 800px) {
    .subtitulo {
      font-size: 3rem;
      text-transform:capitalize;
      max-width: initial;
    }
  }